// bg-color variable declaration

$primary-color: #d8dde6;
$secondary-bg: #d8dde6;

// text color declaration

$primary-text: #2d2f2f;
$input-label-text: #7a7a7a;
$heading-text: #152757;
$text-blue: #005fff;
